.main {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(90deg, #fff 50%, #ca3b00 50%);
    align-items: center;
}

.registration_detail {
    vertical-align: middle;
    width: 80%;
    height: 98%;
    align-items: center;
    border-radius: 10px;
}

.details {
    width: 71%;
    height: 91%;
    margin-left: 14rem;
    background-color: white;
    align-items: center;
    padding-bottom: 1.5rem;
    border-radius: 2px;
    box-shadow: 0px 10px 30px rgb(37 37 37 / 72%);

}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
     width: 85%; 
    height: 100%;
    
}

label {
    font-weight: bolder;
}

.details input,
select {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #ca3b00;
    outline: none;
    font-size: 16px;

    margin-bottom: 0.2rem;
}

.file {
    width: 25%
}

.img {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem;
}


.headings {
    margin-bottom: 5rem;
}

.headings h1 {
    font-size: 50px;
    font-weight: bolder;


}

.img img {
    width: 85%;
    height: 85%;
    margin-left: 8rem;

}
.guidlines{
    margin-bottom: 0.8rem;
    padding: 0.1rem;
    font-size: 0.7rem;
    height: 10px;
}
#UpperCase,#Digit,#SpChar{
    color: #ca3b00;
    font-weight: bold;
}